<suite name="NopCommerce Suite">
    <!-- Optional listener for screenshots -->
    <!--
    <listeners>
        <listener class-name="utils.ScreenshotListener"/>
    </listeners>
    -->

    <test name="NopCommerce Tests">
        <groups>
            <run>
                <!--<include name="smoke"/> -->
                <include name="regression"/>
            </run>
        </groups>

        <classes>
            <class name="testcases.NopCommerceTests"/>
        </classes>
    </test>
</suite>
